<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Team Tummy</title>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  </head>
  <body>
    
    <center>
      <div>
        <img src="https://cdn.glitch.com/db80d9ba-ffb2-41b7-a6f5-db784958faa4%2FTeamTummy.png?1496378276533" alt="Team Tummy" style="width:800px; max-width:100%;">
      </div>

      <br/>
      
      <div id="meal">
      </div>
      
      <hr style="width:800px;height:1px;border:none;color:#333;background-color:#333;" />

      <div id="tummies">
      </div>

      <br/>
      <hr style="width:800px;height:1px;border:none;color:#333;background-color:#333;" />

      <div id="newtummy">
        <form action="/createtummy" method="post">
          <table>            
            <tr>
              <td>
                <label for="name">Name:</label>
                <br/>
                <input type="text" id="name" name="name" placeholder="John Smith" size="40" maxlength="100" required pattern="[\s\S]*\S[\s\S]*" title="Please enter a valid name :)"/>
              </td>
            </tr>

            <tr>
              <td>
                <label for="email">Email (we'll use this to notify you when food is here):</label>
                <br/>
                <input type="email" id="email" name="email" placeholder="john.smith@work.com" size="40" maxlength="100"/>
              </td>
            </tr>

            <tr>
              <td>
                <label for="special">Order / Special Instructions (optional):</label>
                <br/>
                <textarea name="special" id="special" style="width:435px;height:110px;" placeholder="Cheeseburger and Fries\n-or-\nCan we get some breadsticks too?" maxlength="200"></textarea>
              </td>
            </tr>

            <tr>
              <td>
                <label for="veggie">Veggie Option?:</label>
                <input type="checkbox" id="veggie" name="veggie"/>
              </td>
            </tr>

            <tr>
              <td>
                <center>
                  <input type="image" src="https://cdn.glitch.com/db80d9ba-ffb2-41b7-a6f5-db784958faa4%2FIWantFood.png?1496620864843" alt="Submit Form" width="192" height="96" border="0"/>
                </center>
              </td>
            </tr>
          </table>

          <br/>

          <input type="hidden" id="hiddenmealid" name="mealid" value="" />
        </form>
      </div>
      
      <div id="signedup">
        <table width="870" style="padding:5px 5px 5px 5px">
          <tr>
            <td align="left">
              <span style="font-size: 20px; color: #009900"><b>You're signed up!</b></span>
            </td>
          </tr>
        </table>
      </div>

      <br/>

      <div>
        <h5>This silly web app was made by Bryan Perfetto with <a href="https://glitch.com/#!/project/teamtummy" target="_blank">Glitch</a>!</h5>
      </div>
      
    </center>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/util.js"></script>
    <script src="/htmlObj.js"></script>
    <script src="/meal.js"></script>
  </body>
</html>