<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Team Tummy</title>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  </head>
  <body>
    
    <center>
      <div>
        <img src="https://cdn.glitch.com/db80d9ba-ffb2-41b7-a6f5-db784958faa4%2FTeamTummy.png?1496378276533" alt="Team Tummy" style="width:800px; max-width:100%;">
      </div>

      <br/>
      
      <div id="meal">
      </div>
      
      <hr style="width:800px;height:1px;border:none;color:#333;background-color:#333;" />

      <div id="tummies">
      </div>

      <br/>
      <hr style="width:800px;height:1px;border:none;color:#333;background-color:#333;" />

      <div id="newtummy">
      </div>

      <br/>

      <div>
        <h5>This silly web app was made by Bryan Perfetto with <a href="https://glitch.com/#!/project/teamtummy" target="_blank">Glitch</a>!</h5>
      </div>
      
    </center>
    
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/meal.js"></script>
  </body>
</html>